# SMART GOVERNANCE INDEX

In [21]:
import pandas as pd
import folium #It allows us to make maps

In [35]:
%store -r Technology_Index
%store -r Citizen_Centrality_Index
%store -r Citizen_Engagement_Index
%store -r Citizen_satisfaction_Index

#### WE RESTORE EACH COMPONENT AND COMPUTE THE FINAL INDEX AS MEAN OF THE FOUR INDEX

In [36]:
Technology_Index.sort_values(by=['Technology Index'], inplace=True, ascending=False)
Technology_Index= Technology_Index.rename(columns={'Technology Index': 'Technology_Index'})
Technology_Index

        CITIES  Technology_Index
1   Copenhagen              9.57
0     Helsinki              9.36
2    Stockholm              7.69
3       Prague              6.64
4        Paris              6.02
7       Vienna              5.68
6       Madrid              5.42
5    Bruxelles              5.24
8       Warsaw              3.46
9       Zagreb              2.44
11        Rome              1.85
10      Athens              1.16

In [37]:
Citizen_Centrality_Index.sort_values(by=['Citizen_Centrality_Index'], inplace=True, ascending=False)
Citizen_Centrality_Index["Citizen_Centrality_Index"]=round(Citizen_Centrality_Index["Citizen_Centrality_Index"],2)
Citizen_Centrality_Index

        CITIES  Citizen_Centrality_Index
6        Paris                      6.29
0   Copenhagen                      6.25
1       Vienna                      6.15
3    Bruxelles                      5.47
5       Warsaw                      4.98
4    Stockholm                      4.97
2       Prague                      4.73
7     Helsinki                      3.56
9         Rome                      3.18
8       Zagreb                      3.01
10      Madrid                      1.94
11      Athens                      1.04

In [38]:
Citizen_Engagement_Index.sort_values(by=['Citizen_Engagement_Index'], inplace=True, ascending=False)
Citizen_Engagement_Index

        CITIES  Citizen_Engagement_Index
8    Stockholm                      9.08
2   Copenhagen                      8.58
3     Helsinki                      7.09
1    Bruxelles                      6.71
4       Madrid                      6.54
5        Paris                      5.42
9       Vienna                      5.36
10      Warsaw                      4.06
7         Rome                      3.45
0       Athens                      2.45
6       Prague                      2.34
11      Zagreb                      1.01

In [39]:
Citizen_satisfaction_Index.sort_values(by=['Citizen_satisfaction_Index'], inplace=True, ascending=False)
Citizen_satisfaction_Index

        CITIES  Citizen_satisfaction_Index
9       Vienna                        9.24
2   Copenhagen                        8.00
1    Bruxelles                        7.71
8    Stockholm                        7.65
3     Helsinki                        6.98
5        Paris                        6.65
4       Madrid                        5.21
6       Prague                        5.10
10      Warsaw                        5.07
11      Zagreb                        3.24
0       Athens                        2.10
7         Rome                        0.86

In [40]:
SGI = pd.merge(Technology_Index, Citizen_Centrality_Index, on=['CITIES'])
SGI = pd.merge(SGI, Citizen_Engagement_Index, on=['CITIES'])
SGI = pd.merge(SGI, Citizen_satisfaction_Index, on=['CITIES'])
SGI["Smart_Governance_Index_(SGI)"]= round(SGI.mean(axis=1),2)
SGI.sort_values(by=['Smart_Governance_Index_(SGI)'], inplace=True, ascending=False)
SGI

,CITIES,Technology_Index,Citizen_Centrality_Index,Citizen_Engagement_Index,Citizen_satisfaction_Index,Smart_Governance_Index_(SGI)
0,Copenhagen,9.57,6.25,8.58,8.00,8.10
2,Stockholm,7.69,4.97,9.08,7.65,7.35
1,Helsinki,9.36,3.56,7.09,6.98,6.75
5,Vienna,5.68,6.15,5.36,9.24,6.61
7,Bruxelles,5.24,5.47,6.71,7.71,6.28
4,Paris,6.02,6.29,5.42,6.65,6.09
6,Madrid,5.42,1.94,6.54,5.21,4.78
3,Prague,6.64,4.73,2.34,5.10,4.70
8,Warsaw,3.46,4.98,4.06,5.07,4.39
9,Zagreb,2.44,3.01,1.01,3.24,2.42
10,Rome,1.85,3.18,3.45,0.86,2.34
11,Athens,1.16,1.04,2.45,2.10,1.69

In [41]:
%store SGI

Stored 'SGI' (DataFrame)

In [42]:
Technology_Index.to_excel("Technology_Index.xlsx", index=False) # "index= False" to remove index in the excel file
Citizen_Centrality_Index.to_excel("Citizen_Centrality_Index.xlsx", index=False) # "index= False" to remove index in the excel file
Citizen_Engagement_Index.to_excel("Citizen_Engagement_Index.xlsx", index=False) # "index= False" to remove index in the excel file
Citizen_satisfaction_Index.to_excel("Citizen_satisfaction_Index.xlsx", index=False) # "index= False" to remove index in the excel file
SGI.to_excel("SGI.xlsx", index=False) # "index= False" to remove index in the excel file

# Create an interactive Map

In [27]:
%store -r SGI
%store -r CapitalsforMap

In [28]:
CapitalsforMap= CapitalsforMap.rename(columns={'City': 'CITIES'})
CapitalsforMap

        CITIES         Country                 Address        Lat        Lon
0       Athens          Greece          Athens, Greece  37.983941  23.728305
1    Bruxelles         Belgium      Bruxelles, Belgium  50.846557   4.351697
2   Copenhagen         Denmark     Copenhagen, Denmark  55.686724  12.570072
3     Helsinki         Finland       Helsinki, Finland  60.167410  24.942577
4       Madrid           Spain           Madrid, Spain  40.416705  -3.703582
5        Paris          France           Paris, France  48.856697   2.351462
6       Prague  Czech Republic  Prague, Czech Republic  50.087465  14.421254
7         Rome           Italy             Rome, Italy  41.893320  12.482932
8    Stockholm          Sweden       Stockholm, Sweden  59.325117  18.071093
9       Vienna         Austria         Vienna, Austria  48.208354  16.372504
10      Warsaw          Poland          Warsaw, Poland  52.231958  21.006725
11      Zagreb         Croatia         Zagreb, Croatia  45.813185  15.977177

In [31]:
SGI.sort_values(by=['CITIES'], inplace=True, ascending=True)
result = pd.merge(SGI, CapitalsforMap, on=['CITIES'])
del result["Country"]
del result["Address"]

In [33]:
south=result.loc[(result["CITIES"] == "Athens") | (result["CITIES"] == "Madrid") | (result["CITIES"] == "Rome")]
east=result.loc[(result["CITIES"] == "Prague") | (result["CITIES"] == "Warsaw") | (result["CITIES"] == "Zagreb")]
middle=result.loc[(result["CITIES"] == "Paris") | (result["CITIES"] == "Vienna") | (result["CITIES"] == "Bruxelles")]
north=result.loc[(result["CITIES"] == "Copenhagen") | (result["CITIES"] == "Helsinki") | (result["CITIES"] == "Stockholm")]

In [36]:
m = folium.Map(location=[50, 10], zoom_start=3.5)
for i in range(0,len(east)):
    folium.CircleMarker(
        [east.iloc[i]['Lat'], east.iloc[i]['Lon']],  popup=(
            east.iloc[i]['CITIES'] +" SGI: "+str(east.iloc[i]['Smart_Governance_Index_(SGI)'])),
        radius=7,color="red",
        fill=True,
        fill_color="red"
    ).add_to(m)
    
for i in range(0,len(north)):
    folium.CircleMarker(
        [north.iloc[i]['Lat'], north.iloc[i]['Lon']],  popup=(
            north.iloc[i]['CITIES'] +" SGI: "+str(north.iloc[i]['Smart_Governance_Index_(SGI)'])),
        radius=7,color="blue",
        fill=True,
        fill_color="blue"
    ).add_to(m)
    
for i in range(0,len(middle)):
    folium.CircleMarker(
        [middle.iloc[i]['Lat'], middle.iloc[i]['Lon']],  popup=(
            middle.iloc[i]['CITIES'] +" SGI: "+str(middle.iloc[i]['Smart_Governance_Index_(SGI)'])),
        radius=7,color="green",
        fill=True,
        fill_color="green"
    ).add_to(m)
    
    
for i in range(0,len(south)):
    folium.CircleMarker(
        [south.iloc[i]['Lat'], south.iloc[i]['Lon']], popup=(
            south.iloc[i]['CITIES'] +" SGI: "+str(south.iloc[i]['Smart_Governance_Index_(SGI)'])),
        radius=7,color="orange",
        fill=True,
        fill_color="orange"
    ).add_to(m)
m