In [10]:
import pandas as pd
from functools import reduce #necessary to create the last dataframe
%store -r Digital_Literacy_Index
%store -r ICT_Structures_Index

In [11]:
result = pd.merge(Digital_Literacy_Index, ICT_Structures_Index, on=['CITIES'])
result["Technology Index"]=round((result["Digital_Literacy_Index"]+result["ICT_Structures_Index"])/2,2)
result.sort_values(by=['Technology Index'], inplace=True, ascending=False)
del result["Digital_Literacy_Index"]
del result["ICT_Structures_Index"]
Technology_Index=result
Technology_Index

        CITIES  Technology Index
1   Copenhagen              9.57
0     Helsinki              9.36
2    Stockholm              7.69
3       Prague              6.64
4        Paris              6.02
7       Vienna              5.68
6       Madrid              5.42
5    Bruxelles              5.24
8       Warsaw              3.46
9       Zagreb              2.44
11        Rome              1.85
10      Athens              1.16

In [12]:
%store Technology_Index

Stored 'Technology_Index' (DataFrame)